.search-box{
    width: 400px;
    padding: 10px;
    margin-top: 13vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.HL{
    background: #ffc600;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
li {
    min-width: 380px;
    background: rgb(255, 255, 255);
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
input{
    border: 10px solid rgb(201, 201, 201);
    width: 420px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
}
li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}
li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}
span.population {
    font-size: 15px;
  }